.profashional-info-container
  padding: 10px;
  .inner-container
    border-radius: 3px
    background-color: #ffffff
    box-shadow: 4px 3px 25px 0 rgba(155, 155, 155, 0.16)
    padding: 1%
    .general-info
      .pic-container
        padding: 2%
        .avatar
          width: 100%
          height: 100%
          border-radius: 50%
          padding-top: 100%
          background-size: cover
          height: 0

      .info-details-container
        padding-left: 2%
        .name
          text-transform: uppercase
          font-weight: bold
          letter-spacing: 1px
          margin-bottom: 4%
        .rating-container
          margin-bottom: 4%
      .booking-rating
        margin-bottom: 9px;
    .time-info
      text-align: center
      .default-text
        font-size: 18px !important
      .date-info
        margin-bottom: 10%
        .date-pic
          text-align: right;
        .date
      .access-time-info
        .access-time-pic
          text-align: right;
        .access-time

@media (max-width: 480px)
  .profashional-info-container
    .inner-container
      .general-info
        .booking-rating
          transform: scale(0.8) translateX(-13%);
          margin-bottom: 5px
      .time-info
        display: flex
        justify-content: space-between
        padding: 7% 0%
        .date-info
          margin-bottom: 0
