{
  "presets": ["@babel/preset-env","@babel/preset-react", "next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-object-assign",
    "babel-plugin-espower"
  ]
}