.private-info
  text-align: center
  background-color: #ffffff
  .modal-header-wrapper
    background-color: #f2f5f5
  .grid-stepper
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.11), 0 2px 3px 0 rgba(0, 0, 0, 0.18)
  .grid
    width: 100%
    margin: auto
  .grid-header
    padding: 24px 24px 0px 24px
    text-align: left
    &-title
      width: 100%
      margin: auto
      padding: 10px
  .grid-field
    padding: 0px 24px
    text-align: left
    &-input
      width: 100%
      margin: auto
