.privateInfo
  text-align: center
  background-color: #ffffff
  .stepper
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.11), 0 2px 3px 0 rgba(0, 0, 0, 0.18)
  .grid_stepper
    width: 100%
    margin: auto
  .typography-wrapper
    position: relative
    padding-top: 17px
    padding-bottom: 15px
    background-color: #f2f5f5
  .close-wrapper
    position: absolute
    top: 17px
    right: 18px
    width: 24px
    height: 24px