.grid-field-input-gap-signature-wrapper
  .paper
    margin: 5px
    height: 160px
    background-color: #470b2f
    .title
      display: inline
      vertical-align: middle
      color: #ffffff
    .sub-title
      margin-bottom: 5px
      padding-left: 20px
      text-indent: 0px
      color: #ffffff
