body
  background-color: white !important

.flex-centering
  display: flex
  align-items: center

.pointer
  cursor: pointer

.white
  color: white!important

.flex-container
  display: flex

.default-radio
  height: 24px

.default-input
  margin-top: 31px !important

@media (max-width: 480px)
  .default-radio
    height: 11px
    margin-bottom: 26px
  .default-input
    margin-top: 52px !important

@charset "UTF-8"

.notification-container
  box-sizing: border-box
  position: fixed
  top: 0
  right: 0
  z-index: 999999
  width: 100%
  max-height: calc(100% - 30px)
  overflow-x: hidden
  overflow-y: auto

.notification
  padding-top: 26px
  padding-bottom: 26px
  color: #470b2f
  cursor: pointer
  position: relative

.notification .title
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
  font-size: 18px
  font-weight: 500
  margin: 0
  text-align: center
.notification .message
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
  font-size: 18px
  margin: 0
  text-align: center
.notification:hover, .notification:focus
  opacity: 1

.notification-enter
  visibility: hidden
  transform: scaleY(0)

.notification-enter.notification-enter-active
  visibility: visible
  transform: scaleY(1)
  transform-origin: top
  transition: all 0.4s

.notification-leave
  visibility: visible
  transform: scaleY(1)
  transform-origin: top

.notification-leave.notification-leave-active
  visibility: hidden
  transform: scaleY(0)
  transition: all 0.4s

.notification:before
  position: absolute
  top: 50%
  left: 15px
  margin-top: -14px
  display: block
  width: 28px
  height: 28px
  font-size: 28px
  text-align: center
  line-height: 28px

.notification-info
  background-color: #f2f5f5

.notification-success
  background-color: #51a351


.notification-warning
  background-color: #f89406


.notification-error
  background-color: #bd362f
  color: white!important

.spinner
  position: fixed !important
  left: calc(50% - 35px)
  top: calc(50% - 10px)
  z-index: 9999
  width: 70px
  text-align: center
  > div
    width: 18px
    height: 18px
    background-color: #333
    border-radius: 100%
    display: inline-block
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
  .bounce1
    -webkit-animation-delay: -0.32s
    animation-delay: -0.32s
  .bounce2
    -webkit-animation-delay: -0.16s
    animation-delay: -0.16s

@-webkit-keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)

  40%
    -webkit-transform: scale(1)


@keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
    transform: scale(0)

  40%
    -webkit-transform: scale(1)
    transform: scale(1)