.flex-centering {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.default-radio {
  height: 24px;
}

.default-input {
  margin-top: 31px!important;
}


@media (max-width: 480px) {
  .default-radio {
    height: 11px;
    margin-bottom: 26px;
  }
  .default-input {
    margin-top: 52px!important;
  }
}