.landing-wrapper {
  height: 100vh;
  background-image:  url('/static/main-photo.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
  .landing-wrapper {
    background-image:  url('/static/main-photo-mobile.png');
  }
}