.default-text
  font-size: 16px !important

.default-prev-sub-header-text
  font-size: 18px !important

.default-sub-header-text
  font-size: 20px !important

.big-header
  font-size: 36px !important

.almost-big-header
  font-size: 30px !important

.default-header-text
  font-size: 24px !important

.big-text
  font-size: 25.2px !important

.other-text
  font-size: 12px !important

.other-text-big
  font-size: 14px !important



@media (max-width: 480px)
  .default-text
    font-size: 14px !important
  .default-header-text
    font-size: 18px !important
  .default-subheader-text
    font-size: 16px !important
  .default-prev-sub-header-text
    font-size: 14px !important
  .almost-big-header
    font-size: 16px !important
  .big-text
    font-size: 18px !important
  .big-header
    font-size: 18px !important